.container{
    background: #041F1E;
}
.text-light{
    color: #fff;
}
.text-red{
    color: #e01e37;
}

.wrapper{
    background-color: #171717;
}

header{

        background-color: #041F1E;
    
}
